appdirs==1.4.3
coloredlogs==10.0
google-api-python-client==1.7.8
gevent==1.4.0
mock==3.0.5
nose2==0.9.1
packaging==19.0
pypandoc==1.4
python-gflags==3.1.2
chardet==3.0.4
toml==0.10.0
tox==3.12.1
pyyaml==5.1
oauth2client==4.1.3
