appdirs==1.4.4
coloredlogs==14.0
google-api-python-client==1.12.5
gevent==20.4.0
mock==4.0.2
nose2==0.9.2
packaging==20.4
pypandoc==1.5
python-gflags==3.1.2
chardet==3.0.4
toml==0.10.1
tox==3.23.1
pyyaml==5.3.1
oauth2client==4.1.3
