appdirs==1.4.4
coloredlogs==15.0.1
google-api-python-client==2.77.0
gevent==22.10.2
mock==5.0.0
nose2==0.12.0
packaging==22.0
pypandoc==1.10
python-gflags==3.1.2
chardet==5.1.0
toml==0.10.2
tox==4.1.2
pyyaml==5.4.1
oauth2client==4.1.3
